{% extends 'base.html' %}

{% block content%}

    <h1 class="title">Files</h1>

    {% if files %}
        <form action="" method="post" name="file_list">
          <table class="table is-striped is-fullwidth">
            {% for file_idx, file in files.items() %}
            <tr>
            <div>
              <td>
                <label class="checkbox">
                  <input type="checkbox" name="file_indices" value="{{ file }}"/>
                </label>
                
                    <img src="{{ file }}" height=100>
                    <span> {{ file }} </span>
                
              </td>
              </div>
            </tr>
            {% endfor %}
          </table>
          
          <input type="text" name="poll_name" class="input" value="Poll name"/>

          <div class="field is-grouped">
                <div class="control">
                  <input type ="submit" name="action" value="Remove">
                </div>
                <div class="control">
                  <input type ="submit" name="action" value="Add">
                </div>
                <div class="control">
                  <input type ="submit" name="action" value="List">
                </div>
                <div class="control">
                  <input type ="submit" name="action" value="Something Else">
                </div>
            </div>
        </form>
    {% endif %}


{% endblock %}