{% block content%}

<!DOCTYPE HTML>

<html>
	<head>
		<title>ADI Tennis Ranking</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <!-- Bootstrap CSS for styling and layout-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	  <meta name="viewport" content="width=device-width, initial-scale=1">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	</head>

	<body>
      <center>
	    <h1></h1>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Player</th>
                  <th scope="col">Score</th>
                </tr>
              </thead>
              <tbody>
                {% for p in players %}
                   <tr>
                      <th scope="row">{{ p.player }}</th>
                      <td> {{ p.score }} </td>
                   </tr>
                {% endfor %}
              </tbody>
            </table>
         </div>

                 <br>
                 <h4>Champion is:</h4>
                 <div class="shadow-sm p-3 mb-5 bg-body rounded">
                    <img src="{{ winner_path }}" alt="Winner" width="300" height="300">
					<div>
						Champion is {{ champion }}
					</div>
                 </div>
      </center>
	  
		<div class="container">
			<form method="post" action="/">
				<div>
					<h3>Winner</h3>
					<select id="winner" name="winner">
						<option value="Can">Can</option>
						<option value="Uraz">Uraz</option>
						<option value="Burak">Burak</option>
						<option value="Murat">Murat</option>
						<option value="Engin">Engin</option>
						<option value="Alican">Alican</option>
					</select>
				</div>
				<div>
					<h3>Loser</h3>
					<select id="loser" name="loser">
						<option value="Can">Can</option>
						<option value="Uraz">Uraz</option>
						<option value="Burak">Burak</option>
						<option value="Murat">Murat</option>
						<option value="Engin">Engin</option>
						<option value="Alican">Alican</option>
					</select>
				</div>
				<div>
					<h3>Send</h3>
					<input type="submit" value="Submit">
				</div>
			</form> 
		</div>


		<h3>Selected winner</h3>
		{{ winner }}
		<h3>Selected loser</h3>
		{{ loser }}

	</body>
</html>




{% endblock %}
