{% extends 'base.html' %}
{% block content%}

<!DOCTYPE HTML>

<html>
	<head>
		<title>Result</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
        <!-- Bootstrap CSS for styling and layout-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

	</head>

	<body>
	    <h2>My files</h2>
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
                <table border = 1>
                    {% for elem in list %}
                       <tr>
                          <th> {{ elem }} </th>
                       </tr>
                    {% endfor %}
                 </table>
         </div>
	</body>
</html>
{% endblock %}
